@import 'icons'

c-hover = rgba(#000, 0.05)
c-border = rgba(#000, 0.2)
c-prompt-bg = #fff
c-prompt-border = c-border
c-prompt-shadow = c-prompt-border
z-prompt = 500

.pmk-button-row
  padding 0px
  margin 8px 0 4px

.pmk-button
  display inline-block
  list-style none
  cursor pointer
  padding 2px
  border 2px solid transparent

  &:hover
    border-bottom-color c-border
    border-right-color c-border
    background-color c-hover

  > span
    background-image url(uri-icons)
    background-repeat no-repeat
    background-position 0px 0px
    width 20px
    height 20px
    display inline-block

.pmk-spacer
  width 1px
  height 20px
  margin 0 6px
  background-color c-border
  display inline-block
  list-style none

.pmk-input
  min-height 60px
  max-height 500px
  line-height 1.2
  height 180px
  width 100%

.pmk-prompt
  display none
  position fixed
  margin-top -110px
  margin-left -210px
  top 50%
  left 50%
  padding 15px
  width 420px
  max-width 75%
  font-size 100%
  text-align left
  background-color c-prompt-bg
  border-top 2px solid c-prompt-border
  border-left 2px solid c-prompt-border
  box-radius 6px
  box-shadow 2px 2px 5px c-prompt-shadow
  z-index z-prompt

.pmk-prompt-open
  display block

.pmk-prompt-input
  display block
  margin-top 20px
  margin-bottom 15px
  width 100%

.pmk-prompt-buttons
  margin-top 15px
  text-align center

.pmk-prompt-ok
  margin-left 10px
